.button{ text-align: center; }
.button a, .button button, a.button, button.button, input.button{
	background: $cor_rosa		!important;
	color: $color_white 				!important;
	padding: 15px 25px					!important;
	border: none 						!important;
	font-size: 21px 					!important;
	font-weight: 700;
	border-radius: 5px;
	text-align: center;
	box-shadow: 0 3px 0 $cor_rosa_escuro !important;
	text-transform: uppercase;
	display: inline-block 				!important;
	margin-bottom: 3px					!important;

	&.bt-medium{
		padding: 10px 30px					!important;
		font-size: 18px 					!important;
	}

	@media screen and (max-width: 768px) {
		font-size: 20px 				!important;
	}

	@media screen and (max-width: 320px) {
		font-size: 16px 				!important;
	}

	&:hover{
		background: $cor_rosa !important;
		color: $color_white 				 !important;
		text-decoration: none 				 !important;
		box-shadow: 0 1px 0 $cor_rosa_escuro !important;
		margin-top: 3px;
		margin-bottom: 0px 					!important;
	}
}

.button.pink a, .button.pink button, a.button.pink{
	background: $cor_rosa 	!important;
	font-size: 17px 		!important;

	&:hover{
		background: $cor_rosa !important;
		color: $color_white   !important;
		margin-top: 3px		  !important;
	}
}

.button.vc_btn3.vc_btn3-color-pink.vc_btn3-style-3d,
.button.vc_btn3.vc_btn3-color-pink.vc_btn3-style-3d:focus,
.button.vc_btn3.vc_btn3-color-pink.vc_btn3-style-3d:hover{
	background: none !important;
	border: none !important;
	box-shadow: none !important;

	@media screen and (max-width: 768px) {
		width: 100% !important;
	}
}

.vc_btn3.vc_btn3-color-pink.vc_btn3-style-3d:focus, .vc_btn3.vc_btn3-color-pink.vc_btn3-style-3d:hover,
.button.vc_btn3.vc_btn3-color-pink.vc_btn3-style-3d button:focus, .button.vc_btn3.vc_btn3-color-pink.vc_btn3-style-3d button:hover{
	background-color: $cor_rosa !important;
	box-shadow: 0 1px 0 $cor_rosa_escuro !important;

	@media screen and (max-width: 768px) {
		width: 100% !important;
	}
}

.vc_btn3.vc_btn3-color-pink.vc_btn3-style-3d,
.button.vc_btn3.vc_btn3-color-pink.vc_btn3-style-3d button{
    color: $branco !important;
    background-color: $cor_rosa !important;
    box-shadow: 0 3px 0 $cor_rosa_escuro !important;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 17px;
    min-width: 220px;

	@media screen and (max-width: 768px) {
		width: 100% !important;
		font-size: 15px !important;
	}

}