// ==========================================================================
// TABLE OF CONTENTS:
// ==========================================================================
//
// # Header
// 		# Title + description
// 		# Navbar
// # Wrapper
// # Content
// # Sidebar and Widgets
// # Components
// 		# Fancy skip link
// 		# Pagination
// 		# Comments
// # Footer
//

h1, h2, h3
{ font-weight: 500 !important; }

.color-pink{ color: $color_pink !important; }
.color-blue{ color: $cor_azul !important; }

strong{ font-weight: 500 !important; }

mark{
    color: $branco !important;
    background: $color_pink !important;
}

.background-pink{ background-color: $color_pink !important; }

// ==========================================================================
// Header
// ==========================================================================
#header {
    //
    // Navbar
    //
    background: $branco;
    position: fixed;
    width: 100%;
    z-index: 1000;
    height: 107px;
    box-shadow: 0 5px 55px #00000010;

    
    #main-navigation {
        margin: 20px 0;

        .brand-mobile{
            padding: 0px !important;
        }

        .navbar-main-navigation{
            text-transform: uppercase;
            float: right;
            padding: 15px 0 0;
            font-size: 15px;

            li a{
                padding-left: 0px;
                padding-right: 0px;
                margin-right: 15px;
                margin-left: 15px;
            }

            li>a:hover, li>a:focus, li.current-menu-item a{
                background: none;
                border-top: solid 4px $cor_azul_claro2;
                margin-top: -4px;
            }

            .button{
                margin-left: 15px;
                
                a{
                    padding: 10px 20px  !important;
                    font-size: 20px     !important;

                    &:hover{
                        color: $branco !important;
                    }
                }
            }

            a{
                color: $preto;
                padding-top: 10px;
                padding-bottom: 10px;
                font-weight: 600;
            }
        }

        .navbar-toggle{
            background: none;
            border: none;

            .icon-bar {
                display: block;
                width: 25px;
                height: 4px;
                border-radius: 10px;
                background: $cor_preto;
            }
        }
    }
    //
    // Title, description and image
    //
    .page-header {
        margin: 20px 0 20px;
        border: none;
        .site-title {}
        .site-description {
            font-size: 16px;
            font-style: italic;
        }
    }
}

img.custom-logo{
    width: auto;
    height: auto;
    max-height: 70px;
    max-width: 100%;
    margin-top: 22px;
    margin-left: 25px;

    @media screen and (max-width: 767px) {
        height: 40px;
        width: auto;
    }
    
}

// ==========================================================================
// Wrapper
// ==========================================================================
#wrapper {
    padding-top: 110px;
}

// ==========================================================================
// Content
// ==========================================================================
#content {}

//
// Home
//
.home {
    #content {
        .post {
            margin-bottom: 40px;
            &.sticky {
                padding: 0 20px 20px;
                border: 1px dashed $brand-info;
            }
        }
    }
}

// ==========================================================================
// Sidebar
// ==========================================================================
#sidebar {}

// ==========================================================================
// Components
// ==========================================================================

//
// Fancy skip link
//
// Make it look a bit less "bare bones"
// Also includes focus suppression for the Chrome tabindex="-1" workaround
//
#skippy {
    display: block;
    padding: 1em;
    background-color: #f5f5f5;
    outline: 0;
}

#skippy .skiplink-text {
    padding: .5em;
    outline: 1px dotted;
}

#content:focus {
    outline: none;
}

//
// Pagination
//
.pagination-wrap {
    text-align: center;
    margin-top: 15px;
    .infinite-scroll & {
        display: none;
    }
}

// ==========================================================================
// Footer
// ==========================================================================

//
// Sticky footer styles
//
#footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: $cor_azul_escuro2;
    color: $branco;
    padding-top: 25px;
    padding-bottom: 15px;

    .hashtag{
        padding: 15px 0;
    }

    .app{
        //display: none;
        @media screen and (min-width: 769px) {
            border-left: solid 1px #333;
        }

        @media screen and (max-width: 768px) {
            border-top: solid 1px #333;
        }
    }
}

html {
    position: relative;
    min-height: 100%;
    overflow-y: scroll;
}

body {
    margin-bottom: 280px        !important;
    font-family: 'open sans'    !important;
    font-weight: 400;
    font-size:  17px            !important;
    color: $color_default       !important;
}


.slider-top{
    padding-bottom: 180px;

    &::after {
        content: "";
        background: url('/wp-content/themes/odin/assets/images/moldura-slide-bottom.png') center;
        background-size: cover;
        width: 100%;
        height: 180px;
        z-index: 1;
        position: absolute;
        left: 0px;
        bottom: 0px;
    }

    .logo-slide{
        margin-top: 25px;
    }

    .text-slide{
        padding-top: 60px;
    }

}


.texto-branco{
    color: $branco !important;
}


h1, h2, h3{
    font-weight: 500;

    &.titulo{
        font-family: ConduitITC;
        text-align: center !important;
        color: $cor_azul_escuro2;
        font-size: 45px;
        margin-bottom: 50px;
        text-transform: uppercase;

        &::after{
            content: '';
            background: url(../images/setas-rosas-right.png) no-repeat center;
            width: 100%;
            height: 30px;
            display: block;
            background-size: 130px;
            min-width: 150px;
        }

        &.azul-claro{
            color: $cor_azul_claro2;
        }

        &.light{
            color: $branco;

            &::after{
                background: url(../images/setas-azul-right.png) no-repeat center;
            }
        }

        &.esquerda{
            text-align: left !important;
            display: table;

            &::after{
                background-position: left;
            }
        }


    }

    &.title{
        border-bottom: solid 2px $color_blue;
        color: $color_blue_dark;
        display: table;
        padding: 5px;
        margin: 30px auto;
        position: relative;

        &::after {
            content: "";
            background: $color_azul_claro;

            display: block;
            height: 15px;
            width: 15px;
            border-radius: 50%;
            position: absolute;
            right: -10px;
            bottom: -8px;
        }


        &.destaque{
            border-left: solid 2px $color_blue;
            border-bottom: none;
            padding: 20px 30px;
            padding-top: 90px;
            margin-top: 0px;

             &::after {
                left: -8px;
            }
        }

        &.no-border{
            border: none;
            &::after{
                display: none;
            }
        }

        &.f100{
            font-weight: 100 !important;
        }
    }

}

#counter{
    h1{
        font-family: ConduitITC;
    }
    p{
        text-align: center;
        font-size: 17px;
        font-weight: 600;
    }
}

blockquote{
    border: none !important;
    
    &::before{
        content: '';
        background: url(../images/aspas-rosa.png) no-repeat center;
        width: 30px;
        height: 30px;
        display: block;
        background-size: contain;
        margin-bottom: 10px;

    }
}

.light blockquote{
    color: $branco;

    &::before{
        background: url(../images/aspas-branco.png) no-repeat center;
        background-size: contain;
    }
}

.background{
    &.cover .vc_column-inner{
        background-size: cover !important;
    }

    &.center .vc_column-inner{
        background-position: center !important;
    }
}

.image-full{
    .vc_figure, .vc_single_image-wrapper, .vc_single_image-wrapper, img{
        width: 100% !important;
    }
}

.linha-recorte{

    &.top{
        &.light{
            transform: skewY(3deg);
            height: 86px;
            margin-bottom: -50px;

            &.inverse{ transform: skewY(-3deg); }
        }
    }

    &.bottom{
        &.light{
            transform: skewY(-3deg);
            height: 86px;
            margin-top: -50px;

            &.inverse{ transform: skewY(3deg); }
        }
    }

    &.light.no-space{ margin-bottom: -86px; z-index: 1; }
    
    //&.top   { margin-bottom: -36px    !important; }
    /*&.bottom{ margin-top: -35px     !important; }

    &.vc_row.absolute{
        position: absolute !important;
        z-index: 100;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .vc_figure, .vc_single_image-wrapper, .vc_single_image-wrapper, img{
        width: 100% !important;
    }

    &.no-space{
        z-index: 1;

        *{
            padding: 0px !important;
            margin: 0px !important;
        }
    }*/


}

.team{
    max-width: 900px;
    margin: 0 auto;
    width: 100%;

    .team-item{
        //height: 420px !important;
        padding-bottom: 30px;

        @media screen and (max-width: 1100px) {
            //height: 450px !important;
        }

        h2{
            font-size: 22px;
            color: $color_blue_dark;
        }

        h4{
            font-size: 15px;
        }

        figure{
            position: relative;
            //max-width: 270px;
            margin: 0 auto;

            img{
                min-width: 100%;
                border: none;
                //height: 240px;
            }

            .social_icons{
                display: none;
                position: absolute;
                width: 100%;
                top: 0px;
                background: rgba(0, 0, 0, 0.4);
                height: 100%;

                a{
                    border-radius: 50%      !important;
                    width: 47px             !important;
                    display: inline-block   !important;
                    padding: 10px           !important;
                    margin: 5px             !important;
                    color: $branco     !important;
                    font-size: 26px         !important;
                    top: 50%                !important;
                    position: relative;
                    margin-top: -25px       !important;

                    &.icon-facebook{ background: #3b5998        !important; }
                    &.icon-google-plus{ background: #db4437     !important; }
                    &.icon-linkedin{ background: #0077b5        !important; }
                    &.icon-twitter{ background: #1da1f2         !important; }
                }
            }
        }
    }
}

@media screen and (min-width: 763px) {

.sp-testimonial-section{

    .owl-pagination{
        .owl-page{
            border: solid 2px #fff;
            background: rgba(255,255,255,0)     !important;
            padding: 7px;

            &.active{
                background: $color_azul_claro   !important;
            }
        }
    }

    .owl-buttons{
        i.fa.fa-angle-left, i.fa.fa-angle-right{ color: #fff !important; }
    }
    .testimonial-free{

        .tf-client-testimonial{
            padding: 50px 80px;
            font-weight: lighter;
            font-size: 20px;
            text-align: left;
            margin-left: 20%;
            color: #fff;
            background: url('/wp-content/themes/odin/assets/images/aspas.png') left 50px no-repeat;
        }

        .tf-client-image{
            left: 50%;
            position: relative;
            margin-left: -100px;
            float: left;

            img{
                    width: 100px !important;
                    height: 100px !important;
                    max-width: 100px;
            }
        }

        .tf-client-name, .tf-client-designation{
            position: relative;
            display: block;
            margin-left: 20px;
            text-align: left;
            left: 50%;
            color: #fff !important;
        }
    }
}
}

.ptp-col{
    width: 400px                        !important;
    margin-left: 30px                   !important;
    margin-right: 30px                  !important;

    .ptp-item-container{
        padding: 0px                   !important;
        background: $branco        !important;
        position: relative;
        border: none                    !important;
        
        @media screen and (min-width: 768px){
            /* For Safari 3.1 to 6.0 */
            -webkit-transition-property: all;
            -webkit-transition-duration: 0.3s;
            -webkit-transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            /* Standard syntax */
            transition-property: all;
            transition-duration: 0.3s;
            transition-timing-function: linear;
            transition-delay: 0s;

            &:hover{
                box-shadow: 0 0 30px #00000070;
                margin-left: -20px !important;
                margin-right: -20px !important;
                margin-top: -20px;
                padding: 20px !important;

                .ptp-plan{
                    margin: -20px !important;
                    margin-bottom: 0px !important;
                }

                .ptp-price{
                    font-size: 45px !important;
                }
            }
        }

        .ptp-plan{
            background-color: $color_azul_claro;
            color: $branco;
            display: block;
            font-weight: 400;
            text-transform: uppercase;
            padding: 10px 35px  !important;
            height: auto        !important;
            font-size: 1.5em    !important;

            @media screen and (min-width: 768px){
                /* For Safari 3.1 to 6.0 */
                -webkit-transition-property: all;
                -webkit-transition-duration: 0.3s;
                -webkit-transition-timing-function: linear;
                -webkit-transition-delay: 0s;
                /* Standard syntax */
                transition-property: all;
                transition-duration: 0.3s;
                transition-timing-function: linear;
                transition-delay: 0s;
            }

            span{
                display: block;
                font-size: 17px;
                margin-bottom: -9px !important;
            }
        }

        .ptp-price{
            color: $color_azul_claro;
            background: none            !important;
            font-size: 35px             !important;
            height: auto                !important;

            /* For Safari 3.1 to 6.0 */
            -webkit-transition-property: all;
            -webkit-transition-duration: 0.3s;
            -webkit-transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            /* Standard syntax */
            transition-property: all;
            transition-duration: 0.3s;
            transition-timing-function: linear;
            transition-delay: 0s;
        }

        .ptp-bullet-item{
            text-align: left            !important;
            padding-left: 20px          !important;
            font-size: 15px             !important;
            height: auto                !important;
            background: $transparent    !important;
        }

        .ptp-cta{
            background: $transparent            !important; 

            .ptp-button{
                background: transparent   !important;
                border-radius: 2px              !important;
                border: none                    !important;
                font-weight: 600;
                font-size: 18px                 !important;
                height: auto                    !important;
                color: #000 !important;
                border: solid 2px #000 !important;
                text-transform: uppercase;
            }
        }
    }

    &.ptp-highlight{
        .ptp-most-popular{
            visibility: hidden          !important;
        }

        .ptp-item-container{
            overflow: hidden;
            //background: #f9efe4         !important;

            /*&::before {
                content: "VIP";
                position: absolute;
                background: #dd892e;
                color: #fff;
                font-size: 20px;
                padding: 2px 80px;
                top: 10px;
                right: -63px;
                transform: rotate(39deg);
            }*/

            .ptp-plan{
                background: $preto !important;
            }

            .ptp-price{
                color: $preto      !important;
            }

            /*.ptp-cta .ptp-button{
                background: $preto !important;
            }*/
        }
    }
}


.background-team{
    background: url(../images/grafics4.png), url(../images/grafics3.png);
    background-repeat: no-repeat;
    background-position: bottom 35px left 70px, top 170px right 50px;
}

.background-ingressos{
    background: url(../images/grafics5.png), url(../images/delta-azul.png);
    background-repeat: no-repeat;
    background-position: bottom 200px left 15%, bottom 380px right 15%;
}

.background-momento-conecta{
    background: url(../images/grafics1.png);
    background-repeat: no-repeat;
    background-position: top 5px right -50px;
}

@media screen and (max-width: 763px){

    h1, h2, h3{
        &.titulo{
            font-size: 30px;
            
            &::after{
                height: 25px;
            }
        }
    }

    .sp-testimonial-section{

        .owl-pagination{
            .owl-page{
                border: solid 1px #fff;
                background: rgba(255,255,255,0)     !important;
                padding: 4px;

                &.active{
                    background: $color_azul_claro   !important;
                }
            }
        }

        .owl-buttons{
            i.fa.fa-angle-left, i.fa.fa-angle-right{ color: #fff !important; }
        }
        .testimonial-free{

            .tf-client-testimonial{
                font-weight: lighter;
                color: #fff;
                background: url('/wp-content/themes/odin/assets/images/aspas.png') left top no-repeat;
                background-size: 30px;
                padding-top: 25px;
            }

            .tf-client-image{

                img{
                        width: 80px !important;
                        height: 80px !important;
                        margin-top: 15px !important;
                }
            }

            .tf-client-name, .tf-client-designation{
                color: #fff !important;
            }
        }
    }
    .ptp-col{
        width: 100%                         !important;
        margin-left: 0px                    !important;
        margin-right: 0px                   !important;

        .ptp-item-container{
            padding-top: 40px               !important;

            .ptp-price{
                font-size: 30px             !important;
            }

            .ptp-bullet-item{
                padding-left: 10px          !important;
                font-size: 12px             !important;
            }
        }
    }
}

#wpcf7-f270-p269-o1{
    max-width: 890px;
    margin: 0 auto;
}

.wpcf7-response-output{
    display: table !important;
    margin: 0 auto !important;
}

form{
    label{
        display: block !important;
        padding-bottom: 20px;
        font-size: 15px;
        font-weight: normal;
    }

    input, button, select, textarea{
        border: solid 1px $cor_cinza;
        padding: 10px;
        border-radius: 3px;
        font-size: 15px;
        font-weight: normal;
        width: 100%;

        &.button{
            display: block;
            width: auto;
            margin: 0 auto;
            padding: 15px;
            font-size: 1.2em !important;
        }
    }

    textarea{
        height: 100px;
    }
}


.vc_tta-container{
    h2{
        text-align: center              !important;
        font-size: 20px                 !important;
        text-transform: uppercase       !important;
        font-weight: 700                !important;
    }

    .vc_tta-panel{
        .vc_tta-panel-heading{
            background: none    !important;
            border: none        !important;
            padding-top: 15px;
            margin-bottom: 0px  !important;

            .vc_tta-panel-title{
                border: solid 2px $cor_preto;
                border-radius: 5px;
                font-size: 16px;

                >a{
                    padding-left: 20px !important;
                }

                .vc_tta-controls-icon{
                    left: auto  !important;
                    right: 20px !important;

                    &::before, &::after{
                        border-color: $cor_preto !important;
                    }
                }
            }

            .vc_tta-panel-body{
                margin-top: 1px     !important;
                margin-bottom: 10px;
                border: none        !important;

                .wpb_wrapper{
                    font-size: 14px !important;
                }
            }
        }
    }
}


.refs-develop-credit{
    background: #333333;
    bottom: -25px;
    padding: 15px;
    position: relative;
    font-size: 12px;
}


.agenda{

    .datas{
        text-align: center;
        a{
            border: solid 1px $cor_azul_escuro;
            padding: 10px 20px;
            display: inline-block;
            color: $cor_azul_escuro;
            margin: 5px;
            font-size: 19px;
            text-decoration: none;

            strong{
                font-weight: bold;
            }

            &.active{
                background: $cor_roxo;
                color: $branco;
                border-color: $cor_roxo;
            }

            
        }
    }

    .filtros{
        text-align: center;
        margin: 50px;

        a.filtro{
            text-transform: uppercase;
            color: $cor_azul_escuro;
            font-size: 17px;
            margin: 20px;
            display: inline-block;
            text-decoration: none;
            font-weight: 600;

            &::after{
                content: "\f0d7";
                font-family: fontawesome;
                color: $cor_roxo;
                display: inline-block;
                padding: 0 10px;
            }

            &.active{
                color: $cor_roxo;
                &::after{
                    content: "\f0d8";
                }

            }
        }

        .filtro_opcoes{
            background: #eee;
            padding: 15px; 
            margin: 2px;
            display: none;
            
            label{
                font-weight: 500;
                margin: 10px 15px;

                input[type="checkbox"]{
                    visibility: hidden;
                    margin-right: 8px;
                    cursor: pointer;

                    &:before {
                        content: "\f096";
                        font-family: fontawesome;
                        visibility: visible;
                        -moz-border-radius: 2px;
                        font-size: 18px;
                        color: #676767;
                    }

                    &:checked:before{
                            content: "\f00c";
                            color: $cor_roxo !important;
                    }
                }
            }
            
        }

        .filtrados{
            margin-bottom: 15px;

            span{
                background: $cor_roxo;
                padding: 7px 10px 3px 15px;
                display: inline-block;
                border-radius: 20px;
                color: $branco;
                margin: 5px;

                label{
                    margin-left: 10px;

                    &::before {
                        content: "\f057";
                        font-family: fontawesome;
                        cursor: pointer;
                    }
                }
            }
        }

        .filtro_reset{
            display: none;
            color: #888;
            text-decoration: none;
            cursor: pointer;

            &::before{
                content: "\f0b0";
                font-family: fontawesome;
                margin-right: 5px;
            }
        }
    }


    .dia{
        display: none;

        &.active{ display: block; }

        .horario{
            .item-evento{
                display: flex;
                margin-bottom: 10px;
                color:  $color_purple;

                &.oculta{ display: none; }

                .evento-hora{
                    text-align: right;
                    color: $cor_roxo;
                    font-weight: 600;
                    font-size: 23px;
                    height: auto;
                    display: block;
                    padding-top: 20px;
                }

                .evento-content{
                    border: solid 1px #ccc;
                    margin-left: 5px;
                    padding: 0px;

                    .item{
                        border-bottom: solid 1px #ccc;
                        display: flex;
                        position: relative;
                        padding: 10px 0                     !important;

                        &::before {
                            content: "";
                            background: #ccc;
                            width: 5px;
                            height: 101%;
                            position: absolute;
                            margin-top: -10px;
                            margin-left: -11px;
                        }

                        &:last-of-type{
                            border-bottom: none;
                        }

                        figure{
                            text-align: center;
                            background-size: cover;
                            background-position: center;
                            margin-top: -10px;
                            margin-bottom: -10px;
                            min-height: 150px !important;

                            img{
                                    max-width: 100%;
                                    //border-radius: 0%     !important;
                                    width: 110px;
                                    height: auto;
                                    margin: 0 auto;
                            }
                        }

                        h2,h3,h4{
                            margin: 5px 0                   !important;
                        }

                        h2{
                            font-size: 20px;
                            padding-top: 10px;
                            font-weight: 600 !important;

                            &.titulo-agenda{
                                font-size: 25px;
                                font-weight: 600 !important;
                            }
        
                            
                        }

                        h3{
                                font-weight: 600 !important;
                                padding: 5px 0;
                                font-size: 16px;
                                
                                span{
                                    font-weight: 400;
                                    border-left: solid 1px #929292;
                                    margin-left: 10px;
                                    padding-left: 10px;
                                }
                                
                        }

                        h4{
                            color: $cor_roxo;
                            text-transform: uppercase;
                            font-size: 14px;

                            .sala{
                                &::before{
                                    content: "";
                                    background: url(/wp-content/themes/odin/assets/images/icon-map.png) no-repeat center;
                                    display: inline-block;
                                    width: 15px;
                                    height: 14px;
                                }
                            }

                            .tema{
                                padding-right: 15px;
                            }

                        }

                        p{

                        }

                        &-palestrante{
                            .avatar{
                                //border-radius: 100%;
                                width: 50px;
                                float: left;
                                margin-right: 5px;
                                padding: 5px 0;
                            }

                            h3{
                                font-size: 17px !important;
                            }

                            h4{
                                font-size: 13px !important;
                                margin-top: -5px !important;
                                text-transform: none;
                            }
                        }
                    }


                    .item.destaque{
                        background: #eee;

                        &::before{
                            background: $cor_roxo;
                        }

                        figure{
                            min-height: 230px !important;
                        }
/*
                        h2{
                            font-size: 25px;
                            padding-top: 20px;

                            span{
                                font-size: 20px;
                            }
                        }

                        h3{
                            font-size: 20px;
                        }

                        h4{
                            font-size: 16px;

                            .sala::before{
                                background: url(/wp-content/themes/odin/assets/images/destaque-icon-map.png) no-repeat center;
                                width: 20px;
                                height: 16px;
                            }
                        }*/
                    }
                }
            }
        }
    }
}


.data-local{
    position: absolute;
    width: 390px;
    height: 280px;
    z-index: 100;
    top: 50px;
    background: rgba(255, 255, 255, 0.85);
    font-weight: bold;
    font-size: 18px;
    left: 10%;
    padding-left: 30px;
    color: $color_black;
    font-weight: 400;
    
    .wpb_wrapper{
        border-left: solid 1px $color_gray_dark;
        padding-left: 30px;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    h2{
        color: $color_pink;
        text-transform: uppercase;
        font-size: 20px;
    }

    p{
        font-weight: 100    !important;
        font-size: 15px     !important;
    }

    &::after{
        content: "";
        width: 11px;
        height: 11px;
        background: $color_azul_claro;
        position: absolute;
        margin-left: -5px;
        border-radius: 100%;
    }
}

.team{
    display: table;
}

.load-more-palestrante{
    .status{
        text-align: center;
        padding-bottom: 20px;
        color: $cor_rosa !important;
    }

    button{
        padding: 10px 40px !important;
        display: block;
        margin: 0 auto;
        background: $color_button_blue;
        color: $branco;
        font-size: 28px;
        font-weight: 100;

        @media screen and (max-width: 768px) {
            padding: 10px 25px  !important;
            font-size: 18px     !important;
        }

        &:hover{
            background: $color_button_blue_hover;
        }
    }
}

.motivos-para-ir{
    max-width: 1024px;
    margin: 0 auto !important;

    .bx-controls{
        margin-bottom: 0px;

        .bx-pager{
            text-align: center;
            display: block !important;

            .bx-pager-item{
                display: inline-block;

                a.bx-pager-link{
                    display: inline-block;
                    border: solid 2px $color_pink;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    margin: 2px;
                    color: rgba(250, 235, 215, 0);

                    &.active{
                        background: $color_pink;
                    }
                }
            }
        }
    }
}

#ptp-130 .abas{display: none;}

@media screen and (min-width: 768px) {
    .player{
        width: 70%          !important;
        margin: 0 auto      !important;
    }
}

.player .fluid-width-video-wrapper.capa::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(/wp-content/themes/odin/assets/images/image_video.png) no-repeat center;
    background-size: cover;
    z-index: 3;
    top: 0px;
}

.mosaico-galeria{
    margin-left: -1px;
    margin-right: -1px;
    /*@media screen and (min-width: 768px) {
        padding: 0 10%;        
    }
    *{
        padding: 0px    !important;
        margin: 0px     !important;
    }*/
    //.vc_inner .wpb_column *{ width: 100% !important; }
}

.top-absolute{
    position: absolute      !important;
    top: 0                  !important;
    z-index: 100            !important;
}


.content-refs{

    .item-content{ min-height: 350px; }

    .rc-title{
        font-size: 18px !important;
        margin-top: 40px !important;
        font-weight: 600 !important;
    }

    .rc-icon-image.circle{
        width: 100px;
    }

    .rc-content.center{
        text-align: center !important;
    }
}


.beneficios{

    .vc_column_container{

        &:last-child{
            border-right-color: $branco !important;
        }

        border-right: solid 1px $color_gray  !important;
        min-height: 100%                !important;
        padding: 30px                   !important;

        &:hover{
            background: #f9f9f9  !important;
        }

        .wpb_text_column {
            height: 80px;
        }
    }
}

.home-sobre-conecta{
    margin-top: -75px;
}


.box-data {
    position: absolute;
    z-index: 10;
    top: 30%;
    left: 60px;
    box-shadow: 2px 5px 10px #00000070;
}

.patrocinadores{
    text-align: center;

    .linha{
        padding: 40px 0;
        .item{
            display: inline-table;
            margin: 0 auto !important;
            text-align: center;
            margin: 15px 10px !important;
            float: none;
        }
    }

    h4.patrocinador-title {
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        color: $cor_roxo;
    }


}