.bx-controls{
	margin-bottom: -50px;

	&-direction {
	    position: absolute;
	    margin-top: -240px;
	    width: 100%;
		
		a{
			color: transparent;
			&::before, &::after{
		    	font-family: fontawesome;
			    color: rgba(0, 0, 0, 0.57);
			    font-size: 30px;
			}
			&.bx-prev::before{
		    	content: '\f053';
		    }
		    &.bx-next{
				right: 0px;
				position: absolute;

		    	&::after{
			    	content: '\f054';
			    }
		    }
		}
	}

	.bx-pager{ display: none; }

}

@media screen and (min-width: 1000px) and (max-width: 1199px){
	#main-navigation {

        .navbar-main-navigation{
            font-size: 14px 			!important;

            .button{
                margin-left: 5px 		!important;
                
                a{
                    padding: 8px 15px  	!important;
                    font-size: 16px     !important;
                }
            }

            a{
                color: $color_white;
                padding: 10px 8px !important;
            }
        }
    }
}

@media screen and (max-width: 767px){

	.vc_tta-tabs.vc_tta-has-pagination .vc_pagination{
		margin-top: -30px !important;
		z-index: 1;
	}
	.vc_general.vc_pagination .vc_pagination-trigger{
		width: 15px !important;
		height: 15px !important;
		border-width: 1px !important;
	}

	#local{
		margin-top: -99px;

		iframe{
			height: 250px !important;
		}

		.box-data {
		    position: relative 	!important;
		    left: 0px 			!important;
		    margin-bottom: 0px	!important;
		}
	}

	.patrocinadores{
		.apoiadores .item {
		    width: 26%;
		}
		
		.patrocinador-startup .item {
		    width: 27%;
		    padding: 0px;
		}

		.patrocinador-super .item {
		    width: 40%;
		}

		.patrocinador-master .item {
		    width: 44%;
		    padding: 0px;
		}
	}

	.sao-paulo{
		min-height: 50vh !important;
	}

	.background-team{
		background: none !important;
	}

	.beneficios{

	    .vc_column_container{

	        &:last-child{
	            border-bottom-color: $color_white !important;
	        }

	        border-bottom: solid 1px $color_gray  !important;
	        min-height: 100%                !important;
	        padding: 0px                   !important;

	        &:hover{
	            background: #f9f9f9  !important;
	        }

	        .wpb_text_column {
	            height: auto !important;
	        }
	    }
	}

	.home-sobre-conecta{
	    margin-top: -88px;
	}

	.txt-home-vantagens *{
		line-height: 35px 	!important;
	    font-size: 18px 	!important;
	}

	#header{
		position: relative 	!important;
		height: 66px  		!important;

		.container{
			padding: 0px;
		}
	}

	#main-navigation{
		margin: 5px 0 !important;

		.custom-logo{
	    	margin-top: 20px !important;
    		margin-left: 5px;
	    	height: auto;
	    }

		.navbar-main-navigation{
		    float: right;
		    padding: 15px !important;
		    font-size: 15px;
		    background: $branco;
		    position: absolute;
		    width: 100.5%;
		    left: -1px;
		    z-index: 1000;
		    margin-top: 5px;

		    li{
		    	a{
		    		text-align: center;
					
					&:hover, &:focus{
						border-top: none !important;
					}
		    	}

		    	&.current_page_item:not(.button){
		    		background: $cor_roxo;

		    		a{
		    			color: $branco !important;
		    			border-top: none !important;
		    		}
		    	}
		    }

		    .button{
		    	margin: 15px 	!important;
		    	font-size: 1em 	!important;
		    }
		}
	}

	body{
		margin-bottom: 380px 	!important;
	}

	h1,h2,h3{
		&.title{
			padding-bottom: 15px 		!important;
			font-size: 20px 			!important;
			border-bottom-width: 1px 	!important;

			&.destaque{
				padding-top: 60px;
				border-left-width: 1px   !important;
			}
		}
	}

	#wrapper{
		padding-top: 0px 	!important;
	}

	.social{
		background: $preto;
		padding: 15px 10px;
	    position: fixed;
	    height: auto;
	    width: 100%;
	    z-index: 1000;
	    top: 0px;
	    display: none !important;

		.fa{
			background: $cor_roxo;
			color: $branco;
			font-size: 1.2em;
		    padding: 7px;
		    width: 2em;
		    margin: 0px;
		    text-align: center;

		    &:hover{
		    	color: $cor_rosa;
		    }
		}

		.button{
			float: right;
			padding: 5px 15px !important;
		    font-size: 1em !important;
		    border-radius: 3px;
		    text-decoration: none;
		}
	}

	.team{
	    .team-item{
	        padding-bottom: 25px !important;

	        &.grid {
			    text-align: center;
			    padding: 5px !important;
			}

	        h2{
	            font-size: 15px;
	        }

	        h4{
	            font-size: 11px;
	        }

	        figure{
	        	img{
	        		height: auto !important;
	        	}
	        }
	    }
	}


	.data-local{
		position: relative;
		width: 90%;
	    height: 210px;
	    z-index: -1;
	    top: 20%;
	    font-size: 15px;
	    left: 5%;
	    padding-left: 15px;
	    margin-top: -50px;

	    .wpb_wrapper{
	        padding-left: 20px;
	    }
	}

	.agenda{
		margin-left: -25px;
    	margin-right: -25px;

		.datas a{
			padding: 10px 10px 		!important;
			margin: 3px 			!important;
    		font-size: 12px 		!important;
		}

		h3{
			font-size: 18px;
		}

		h4{
			font-size: 14px;
		}

		.filtros{
			margin: 25px 0 !important;

			.filtrados span{
				padding: 4px 8px 0px 10px	!important;
				font-size: 11px				!important;
			}

			.open-filter{
				color: $color_azul_claro;
				text-decoration: underline;
			}

			.mobile{
				display: none;
	        	text-align: center 						!important;
			    position: fixed 						!important;
			    background: rgba(0, 0, 0, 0.9) 			!important;
			    z-index: 10000 							!important;
			    top: 0px 								!important;
			    left: 0px 								!important;
			    margin: 0px								!important;
			    min-height: 100% 						!important;
			    color: #fff ;
			    width: 100%;

			    h4{
			    	padding: 20px 0 !important;
			    }

			    .title{
			    	color: #fff 			!important;
			    	border-color: #fff 		!important;
			    	display: table 			!important;
			    }

			    .close-filter::before {
				    content: "X";
				    border: solid 1px;
				    display: block;
				    position: absolute;
				    width: 30px;
				    padding: 4px 0;
				    border-radius: 100%;
				    right: 20px;
				    top: 30px;
				}

			    .filtro{
			    	text-transform: uppercase;
				    color: #676767;
				    font-size: 12px;
				    display: inline-block;
				    text-align: left;
				    width: 44%;
				    margin: 10px 1%;
				    color: #fff !important;
			    }

			    .filtro_opcoes{
			    	color: #000;
			    	text-align: left !important;

			    	label{
					    margin: 5px 1%;
					    display: inline-table;
					    width: 47%;
					    text-align: left;
					    padding-left: 18px;
					    position: relative;

					    input[type="checkbox"] {
						    position: absolute;
						    left: 0px;
						    top: -1px;
						}
			    	}
			    }
	        }
	    }
	

		.dia{
	        display: none;

	        &.active{ display: block; }

	        .horario{
	            .item-evento{
					.evento-hora{
	                    font-size: 12px !important;
	    				padding: 20px 10px 0 0 !important;
	                }
	            }

	            .evento-content{

	                .item, .item.destaque{
	                	display: inline-block	!important;

	                	&::before{
	                		width: 3px 			!important;
	                		margin-left: -7px 	!important;

	                	}

	                	h1{ font-size: 15px !important; }
	                	h2{
	                		font-size: 14px !important;
							margin-top: 0px !important;

							span{
								font-size: 14px !important;
							}

	                	}
	                	h3{ font-size: 13px !important; }
	                	h4{
	                		font-size: 11px !important;

	                		.tema, .sala{
	                			display: block;
	                			padding: 5px 0;

	                			&::before{
	                				background: url(/wp-content/themes/odin/assets/images/destaque-icon-map.png) no-repeat center !important; 
	                				background-size: contain !important;
	                				height: 11px !important;
	                			}
	                		}
	                	}

	                	.item-palestrante{
	                		padding: 0px	!important;

	                		h3{ font-size: 13px !important; }
	                		h4{ font-size: 10px !important; }
	                	}
	                }


	            }

	        }
	    }
	}

	.ptp-pricing-table{
	    position: relative;

	    .abas{
	        position: absolute;
	        display: block !important;
	        width: 100%;
	        z-index: 100;
	        margin-top: -18px;

	        .bt-aba {
	            display: inline-block;
	            padding: 5px;
	            border-top: solid 8px $color_azul_claro;
	            color: $color_azul_claro !important;
	            background: $branco;
	            margin: 0;
	            width: 47.7%;
	            color: #fff;
	            font-size: 16px;
	            font-weight: 500;

	            span {
	                font-size: 0.8em;
	                margin-bottom: -25px;
	                display: block;
	                color: $color_azul_claro;
	            }

	            &.highlight {
	                background: none;
	                border-color: $preto;
	                color: $preto !important;

	                span{ color: $preto !important; }
	            }

				&.highlight:not(.active){
			    	box-shadow: inset 5px 0px 15px -4px #00000050;
			    }

	            &:not(.active) {
				    background: #eee!important;
				    border-top-color: #bbbbbb !important;
				    color: #bbbbbb !important;
				    box-shadow: inset -5px 0px 15px -4px #00000050;

				    span{
				    	color: #bbb !important;
				    }
				}
	        }
	    }

	    .ptp-col{
	    	margin-top: -50px !important;
	    }

	    .ptp-item-container{
	    	&::before{
	    		display: none;
	    	}

	    	.ptp-price{
	    		padding: 10px 		!important;
	    		margin-top: 30px 	!important;
	    	}

	    	.ptp-bullet-item{
	    		font-size: 13px 	!important;
	    	}

	    	.ptp-button{
	    		width: 100%  		!important;
	    	}

	    	.ptp-cta{
	    		padding: 25px		!important;
	    	}
	    }  
	}
}


@media screen and (max-width: 320px) {
	body{
		margin-bottom: 340px	!important;
	}
}




/*@media (max-width: 990px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}*/