// ==========================================================================
// Theme Custom Variables
// ==========================================================================

//
// Example, Try next line!
//
// control the screen sizes
/*$screen-xs-min: 300px;
$screen-sm-min: 400px;
$screen-md-min: 800px;
$screen-lg-min: 1200px;

// this tells which screen size to use to start breaking on
// will tell navbar when to collapse
$grid-float-breakpoint: $screen-md-min;*/

// $brand-primary: blueviolet;

$branco: 			#fff;

$cor_rosa:			#ff0465;
$cor_rosa2:			#f50b63;
$cor_rosa_escuro:	#d90356;

$cor_roxo:			#8c3fb9;
$cor_roxo2:			#871ddf;


$cor_azul:			#71d1ff;
$cor_azul2: 		#00acff;
$cor_azul_claro: 	#00fffd;
$cor_azul_claro2: 	#03f7f7;
$cor_azul_escuro:	#38276c;
$cor_azul_escuro2:	#372b6c;



$cor_cinza_claro:	#eaeaea;
$cor_cinza:			#adadad;

$cor_preto:			#404040;
$preto:				#000000;





$color_default:		#201e4b;
$color_white:		#ffffff;
$color_white_light: #bbbbbb;
$color_black:		#000000;
$color_azul_claro:	#00ACFF;
$color_blue:		#38239a;
$color_blue_dark:	#2d2871;
$color_pink:		#EE326B;
$color_purple:		#201E4B;
$color_gray:		#d0d0d0;
$color_gray_dark: 	#202020;

$color_button_pink: 		#f7306c;
$color_button_pink_hover: 	#dd1e58;

$color_button_blue: 		#00acff;
$color_button_blue_hover: 	#1190cd;

$transparent: 		rgba(255,255,255,0);


$rgb_white: 		255, 255, 255;
$rgb_black:			0, 0, 0;
$rgb_azul_claro: 	0, 172, 255;
$rgb_pink:			238, 50, 107;
$rgb_purple:		32, 30, 75;

