// ==========================================================================
// Theme Style Main
// ==========================================================================

/*!
Theme Name: Odin
Author URI: http://wpod.in/
Description: Odin main stylesheet.
Author: the Odin team
Author URI: http://wpod.in/#colaboradores
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@font-face {
  font-family: 'ConduitITC';
  src: url('../fonts/conduit-itc-bold.ttf');
  font-weight: bold;
  font-style: bold;
}


@import
        "variables",           // Theme       Custom Variables
        "bootstrap/bootstrap", // Bootstrap   Styles Core
        "wordpress/wordpress", // WordPress   Styles Core
        //"woocommerce",       // WooCommerce Styles Core
        "odin/core",           // Odin        Styles Core
        "layout",               // Theme       Custom Layout

		"mobile",
		"button"
;
